# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/Session2/Lab1/nbproject/private/
/Session2/Lab1/build/
/Session2/Lab2/nbproject/private/
/Session2/Lab2/build/
/Session2/Lab3/nbproject/private/
/Session2/Lab3/build/
/Session2/lab4/nbproject/private/
/Session2/lab4/build/
/Session2/lab4/dist/
/Session2/lab4AdvancedCoffeeMachine/nbproject/private/
/Session2/lab4AdvancedCoffeeMachine/build/
/Session2/lab4AdvancedCoffeeMachine/dist/
/Session2/mavenproject1/REST_APIs_with_JAX-RS-Messenger_app/target/